@model IEnumerable<BulkyBook.Models.Product>
@{
	ViewData["Title"] = "Home Page";
}

@if(Model != null)
{
	<div class="row pb-3 mt-4">
	@foreach(var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px">
					<div class="card" style="min-height:42rem">
						<a asp-area="Customer" asp-controller="Home" asp-action="ProductView" asp-route-id="@product.Id">
							<img src="@product.ImageUrl" class="card-img-top rounded"/></a>
						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-info">@product.Title</p>
								<b><p class="card-title text-primary">@product.Author</p></b>
							</div>
							<div class="pl-1">
								<p >List Price:  <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
							</div>
							<div class="pl-1">
								<p >As low as:  <b>$@product.Price100.ToString("0.00")</b></p>
							</div>
						</div>	
					</div>
					<div>
						<a asp-controller="Home" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary form-control">Add</a>
					</div>
				</div>
			</div>			
		</div>
	}
	</div>	
}
else
{
	<h1>MODEL NULL</h1>
}

