@model IEnumerable<BulkyBook.Models.Product>
@{
	ViewData["Title"] = "Product";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-success">Product List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-area="Admin" asp-controller="Product" asp-action="Upsert" type="button" class="btn btn-primary btn-lg">
				<i class="bi bi-plus-square"></i> &nbsp; New Product</a>
		</div>
	</div>
</div>

<div class="container p-2">
	<div class="">
		<table class="table table-bordered table-striped table-secondary" style="width:100%">
			<thead>
				<tr>
					<th>
						<label class="text text-success">Title</label>
					</th>
					<th>
						<label class="text text-success">ISBN</label>
					</th>
					<th>
						<label class="text text-success">Author</label>
					</th>
					<th>
						<label class="text text-success">Category</label>
					</th>
					<th>
						<label class="text text-success">Price</label>
					</th>
					<th class="text-center" style="width:190px">
						<label class="text text-success">Options</label>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var obj in Model)
				{
					<tr>
						<td><a asp-controller="Product" asp-action="ProductView" asp-route-id="@obj.Id"
							style="text-decoration:none; color:white;">@obj.Title</a></td>
						<td><a asp-controller="Product" asp-action="ProductView" asp-route-id="@obj.Id"
							style="text-decoration:none; color:white;">@obj.ISBN</a></td>
						<td><a asp-controller="Product" asp-action="ProductView" asp-route-id="@obj.Id"
							style="text-decoration:none; color:white;">@obj.Author</a></td>
						<td><a asp-controller="Product" asp-action="ProductView" asp-route-id="@obj.Id"
							style="text-decoration:none; color:white;">@obj.Category.Name</a></td>						
						<td><a asp-controller="Product" asp-action="ProductView" asp-route-id="@obj.Id"
							style="text-decoration:none; color:white;">@obj.Price</a></td>		
						<td class="text-center">
							<a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" 
							class="btn btn-secondary me-1" style="width:80px; line-height:3">  <i class="bi bi-pencil-square"></i>  Edit</a>
							<a class="btn btn-danger" style="width:80px;" 
							onclick="Delete('/Admin/Product/DeleteApi/@obj.Id')"> <i class="bi bi-trash"></i> Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>