@model BulkyBook.Models.ViewModels.ProductVm
@{
	ViewData["Title"] = "Upsert";
}
<style>
	.img-view{
		height:300px; 
		object-fit:scale-down;
	}
</style>

<form method="post" asp-action="Upsert" enctype="multipart/form-data" id="form">
	@if (Model.Product.Id == 0) @*CREATE page*@
	{
		<div class="border-bottom p-3 mt-4 mb-4 row">
			<div class="row pb-2">
				<h2 class="text-success">Create Product</h2>
				<input asp-for="Product.Id" id="id" hidden/>
				<hr />
			</div>
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="Product.Title"></label>
				<input asp-for="Product.Title" class="form-control" id="title"/>
				<span asp-validation-for="Product.Title" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Product.Description"></label>
				<textarea rows="3" class="form-control" id="formDescription">@Html.Raw(Model.Product.Description)</textarea>
				<span asp-validation-for="Product.Description" class="text-danger"></span> 
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.ISBN"></label>
				<input asp-for="Product.ISBN" class="form-control" id="isbn"/>
				<span asp-validation-for="Product.ISBN" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.Author"></label>
				<input asp-for="Product.Author" class="form-control" id="author"/>
				<span asp-validation-for="Product.Author" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.ListPrice"></label>
				<input asp-for="Product.ListPrice" class="form-control" id="listprice"/>
				<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.Price"></label>
				<input asp-for="Product.Price" class="form-control" id="price"/>
				<span asp-validation-for="Product.Price" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.Price50"></label>
				<input asp-for="Product.Price50" class="form-control" id="price50"/>
				<span asp-validation-for="Product.Price50" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.Price100"></label>
				<input asp-for="Product.Price100" class="form-control" id="price100"/>
				<span asp-validation-for="Product.Price100" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Product.ImageUrl"></label>
				<input type="file" name="file" class="form-control" id="uploadBox"/>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.CategoryId"></label>
				<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control" id="categoryid">
					<option disabled selected>--Select Category--</option>
				</select>
				<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="Product.CoverTypeId"></label>
				<select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-control" id="covertypeid">
					<option deseabled selected>--Select Coter Type--</option>
				</select>
				<span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
			</div>

			<div class="col-12">
				<button type="submit" onclick="return ValidateInput()" 
					class="btn btn-primary btn-lg col-6" style="width:150px" id="botaoUp">Create</button>
				<a asp-controller="Product" asp-action="index" 
					class="btn btn-outline-light btn-lg col-6" style="width:150px">Back to list</a>
											<a class="btn btn-success" style="width:80px;" 
							onclick="sendPost()"> <i class="bi bi-trash"></i></a>
			</div>
		</div>
	}
	else @*UPDATE page*@
	{
		<div class="row  border-bottom">
			<div class="row pb-1 mt-4">
				<h2 class="text-success">Edit Product</h2>
				<input asp-for="Product.Id" id="id" hidden/>
				<hr />
			</div>
			<div class="col-10">
				<div class="p-3 mt-2 mb-4 row">
					<div class="mb-3">
						<label asp-for="Product.Title"></label>
						<input asp-for="Product.Title" class="form-control" id="title"/>
						<span asp-validation-for="Product.Title" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Product.Description"></label>
						<textarea rows="3" class="form-control" id="formDescription">@Html.Raw(Model.Product.Description)</textarea>
						<span asp-validation-for="Product.Description" class="text-danger"></span> 
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.ISBN"></label>
						<input asp-for="Product.ISBN" class="form-control" id="isbn"/>
						<span asp-validation-for="Product.ISBN" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.Author"></label>
						<input asp-for="Product.Author" class="form-control" id="author"/>
						<span asp-validation-for="Product.Author" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.ListPrice"></label>
						<input asp-for="Product.ListPrice" class="form-control" id="listprice"/>
						<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.Price"></label>
						<input asp-for="Product.Price" class="form-control" id="price"/>
						<span asp-validation-for="Product.Price" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.Price50"></label>
						<input asp-for="Product.Price50" class="form-control" id="price50"/>
						<span asp-validation-for="Product.Price50" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.Price100"></label>
						<input asp-for="Product.Price100" class="form-control" id="price100"/>
						<span asp-validation-for="Product.Price100" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Product.ImageUrl"></label>
						<input type="file" name="file" class="form-control" id="uploadBox"/>
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.CategoryId"></label>
						<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control" id="categoryid">
							<option disabled selected>--Select Category--</option>
						</select>
						<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
						<label asp-for="Product.CoverTypeId"></label>
						<select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-control" id="covertypeid">
							<option deseabled selected>--Select Coter Type--</option>
						</select>
						<span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-primary btn-lg col-6" style="width:150px" id="botaoUp">Update</button>
						<a asp-controller="Product" asp-action="index" class="btn btn-outline-light btn-lg col-6" style="width:150px">Back to list</a>
						<a class="btn btn-success" style="width:80px;" 
							onclick="sendPost()"> <i class="bi bi-trash"></i></a>
					</div>
				</div>
			</div>
			<div class="col-2 p-3 mb-4 row">
				<div class="mt-3">
				<label class="mb-2">Image Preview</label>
					<img src=@Model.Product.ImageUrl width="100%" style="border-radius:5px; border:1px solid white">		
					<input asp-for="Product.ImageUrl" type="text" name="oldFile" id="oldImgUrl" hidden/>	
				</div>
			</div>	
		</div>
	}
</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
		<script>
			function sendPost() 
			{
    //            var Id = document.getElementById("id").value;
				//var Title = document.getElementById("title").value;
				//var Isbn = document.getElementById("isbn").value;
				//var Description = document.getElementById("description").value;
				//var Author = document.getElementById("author").value;
				//var ListPrice = document.getElementById("listprice").value;
				//var Price = document.getElementById("price").value;
				//var Price50 = document.getElementById("price50").value;
				//var Price100 = document.getElementById("price100").value;
    //            if (document.getElementById("oldImgUrl") !== null) {
				//	var ImgUrl = document.getElementById("oldImgUrl").value;
				//}
                var Obj = new FormData();
                var fileInput = document.getElementById("uploadBox");
                var desc = tinymce.get('formDescription').getContent();

                console.log(desc);

                Obj.append('id', document.getElementById("id").value);
                Obj.append('title', document.getElementById("title").value);
				Obj.append('isbn', document.getElementById("isbn").value);
				Obj.append('description', desc);
				Obj.append('author', document.getElementById("author").value);
				Obj.append('listprice', document.getElementById("listprice").value);
				Obj.append('price', document.getElementById("price").value);
				Obj.append('price50', document.getElementById("price50").value);
				Obj.append('price100', document.getElementById("price100").value);
				Obj.append('covertypeid', document.getElementById("covertypeid").value)
				Obj.append('categoryid', document.getElementById("categoryid").value)
				if (document.getElementById("oldImgUrl") !== null) {
					Obj.append('oldImgUrl', document.getElementById("oldImgUrl").value);
				}
                if (document.getElementById("uploadBox") !== null) {
                    Obj.append('file', fileInput.files[0]);
                }

                $.ajax({
					type: "POST",
					url: "@Url.Action("PostApi")",
					dataType: "json",
                    data: Obj,
					contentType: false,
					processData: false,
                    success: function(data) {
						if (data.success) {
                            $(location).attr('href', data.href);							
						}
						else {
							toastr.error(data.message);
						}
					}
				});
			}
		</script>


		<script>
			tinymce.init({
			  selector: 'textarea',
			  toolbar_mode: 'floating',
			});
		</script>


		<script>
			function ValidateInput()
			{
				if (document.getElementById("uploadBox").value == "") 
				{
					Swal.fire({
					  icon: 'error',
					  title: 'Oops...',
					  text: 'Image URL must be uploaded'
					})
					return false
				}
			}
		</script>
	}

						
				
